/* Paleta Sofisticada - Sorteador de Equipes */
:root {
  --cor-primaria: #2c3e50;
  --cor-secundaria: #e67e22;
  --cor-fundo: #f4f4f4;
  --cor-superficie: #ffffff;
  --cor-texto-principal: #1c1c1c;
  --cor-texto-secundario: #7f8c8d;
  --cor-botao-hover: #34495e;
  --cor-sucesso: #27ae60;
}

body {
  font-family: "Inter";
  background: var(--cor-fundo);
  color: var(--cor-texto-principal);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--cor-primaria);
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background: var(--cor-superficie);
  border-radius: 18px;
}

.logo-container {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 600px;
  align-items: center;
  border-bottom: 1px solid var(--cor-texto-secundario);
}

.logo-container img {
  width: 125px;
  height: auto;
  margin-bottom: 0;
  transition: transform 0.3s;
}

fieldset {
  width: 100%;
  margin: 0;
}

header {
  margin: 10px;
}

header h1 {
  font-size: 2.3rem;
  margin: 0;
  font-weight: bold;
  margin-top: 25px;
  justify-content: start;
  margin-bottom: 0;
}

header p {
  color: #111827;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin: 0;
  flex-wrap: wrap;
}

.lado-a-lado {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

/* Estilo para os inputs e textarea */
textarea,
input[type="number"] {
  width: 90%;
  background: #f9f9f9;
  border: 1px solid var(--cor-primaria);
  color: var(--cor-texto-principal);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
}

.form-container,
.equipes-container {
  margin: 10px;
}

input[type="number"] {
  width: 95%;
}

button {
  background: var(--cor-secundaria);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: bold;
  transition: background 0.2s;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: var(--cor-botao-hover);
}

.nomes-list li,
.equipe ul li {
  background: #f9f9f9;
  color: var(--cor-texto-principal);
  border-left: 4px solid var(--cor-primaria);
  margin-bottom: 6px;
  padding: 8px 12px;
  border-radius: 6px;
}

.equipe {
  background: #fff;
  border-radius: 10px;
  margin-top: 18px;
  padding: 12px;
}

.sucesso {
  color: var(--cor-sucesso);
  font-weight: bold;
}

p,
label {
  color: var(--cor-texto-secundario);
}

/* Responsivo */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .equipes-container {
    width: 90%;
  }
}
